body {
    font-family: serif;
    font-size: large;
    color: #183a3d;
    background-color: #EFECCA;
    margin-left: 150px;
    margin-right: 150px;
}

header {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: #E3C0D3;
}

nav
{
    text-align: center;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 70%;
    font-weight: normal;
    background-color: #E3C0D3;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, serif;
    text-align: center;
}

.emphasized {
    font-style: italic;
    text-align: center;
}

.bolded {
    font-weight: bold;
}

figure {
    text-align: center;
}

table, th, td {

    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

ol {
    display: table;
    margin: 0 auto;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.larger-font
{
    font-size: 150%;
}

.no-underline
{
    text-decoration: none;
}

.small-image {
    width: 200px;
    height: 300px;
}

th {
    background-color: darkgrey;
}
tr {
    background-color: #47b1bb;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

input, label{
    text-align: left;
}
