<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="styles/default.css" rel="stylesheet" type="text/css">
    <title>April Song</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script>
        $(function() {
            $("#details").tooltip();
        });
    </script>
    <style>
        label {
            display: inline-block;
            width: 5em;
        }
    </style>

</head>

<body>
    <h1>Contact Me Here!</h1><br>
    <form action="#">
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Email address" name="mail" required>
        <textarea id="details" name="details" placeholder="Additional notes..." style="height:200px" title="Please be sure to leave me a detailed message!" required></textarea>
        <input type="submit" value="Send Message">
    </form>
</body>

</html>