<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="styles/default.css" rel="stylesheet" type="text/css">
    <title>AprilSong</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container2">
        <div class="contenttop">
            <h1 class="smallMarginTop narrowMargin">Skills</h1>
            <p class="narrowMargin">
                Social Network Analysis<br> Graph Theory<br> Natural Language Processing (Topic Modeling and Sentiment Analysis)<br> Structural Equation Modeling<br> Applied Econometrics<br>

            </p>
        </div>
        <div class="contentbottom">
            <h1 class="smallMarginTop narrowMargin">Education</h1>
            <div class="uni noSideMargin">
                <p class="noSideMargin">
                    B.S. Ocean University of China, China<br> 2013-2017
                </p>
                <p class="noSideMargin">
                    M.S. Harbin Institute of Technology, China<br> Major: Management information systems<br> 2017-2019
                </p>
                <p class="noSideMargin">
                    Ph.D. University of Georgia, USA<br> Advisors: Drs. Rick Watson &amp; Xia Zhao<br> 2019-present
                </p>
            </div>
        </div>
    </div>
</body>

</html>