<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="styles/default.css" rel="stylesheet" type="text/css">
    <title>April Song</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <h1 class="smallMarginTop">T-Rex</h1>
    <p class="oops extraNarrowMargin">T-Rex (Theory Research Exchange) aims to improve the process of literature reviewing and knowledge synthesis. T-Rex supports digitally encoding publications' core knowledge contributions and ancillary data via a labeled property graph database. Encoding
        knowledge into a graph database brings new opportunities to manage and analyze knowledge. There is an application to facilitate the coding process - Codasaurus. Codasaurus automatically generates Cypher code for a graph version of a publication
        with information input by a researcher. Analysaurus is under development to support querying and analytics.
    </p>
</body>

</html>