<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="styles/default.css" rel="stylesheet" type="text/css">
    <title>April Song</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function() {
            $('.articleContainer').magnificPopup({
                delegate: '.article', // child items selector, by clicking on it popup will open
                type: 'image',
                titleSrc: 'title',
                // other options
            });
        });
    </script>
</head>

<body>
    <h1 class="narrowMargin smallMarginTop">Publications</h1>
    <div class="articleContainer">
        <div class="articleCard">
            <a href="images/RevisedManuscriptPage-1.jpg" title="A Causal Model Analysis Approach to Literature Reviewing: A Tutorial on the Application of Graph Theory" class="article">
                <img src="images/RevisedManuscriptPage-1.jpg" alt="." class="articlePreview">
            </a>
            <a href="https://aisel.aisnet.org/cgi/viewcontent.cgi?article=1002&context=treos_icis2020" target="_blank">
                            View Full Article
                        </a>
        </div>
        <div class="articleCard">
            <a href="images/Online_Health_Community.jpg" title="Exploring the role of online health community information in patients' decisions to switch from online to offline medical services" class="article">
                <img src="images/Online_Health_Community.jpg" alt="." class="articlePreview">
            </a>
            <a href="https://www.linkedin.com/in/yuanyuan-song-63a9a6211/" target="_blank">
                            View Full Article
                        </a>
        </div>
        <div class="articleCard">
            <a href="images/T-rex.jpg" title="Literature Reviewing: Addressing the Jingle and Jangle Fallacies and Jungle Conundrum Using Graph Theory and NLP" class="article">
                <img src="images/T-rex.jpg" alt="." class="articlePreview">
            </a>
            <a href="https://www.linkedin.com/in/yuanyuan-song-63a9a6211/" target="_blank">
                            View Full Article
                        </a>
        </div>
        <div class="articleCard">
            <a href="images/Theory_Research_Exchange.jpg" title="Theory Research Exchange: A Causal Model Approach to Literature Reviewing" class="article">
                <img src="images/Theory_Research_Exchange.jpg" alt="." class="articlePreview" />
            </a>
            <a href="https://www.linkedin.com/in/yuanyuan-song-63a9a6211/" target="_blank">
                            View Full Article
                        </a>

        </div>
    </div>
</body>

</html>