<header>
    <h1>Mason Pipkin | ITIS3135 | Mango Penguin</h1>
    <nav>
        <a href="index.html">Home</a> ||
        <a href="introduction.html">Introduction</a> ||
        <a href="contract.html">Contract</a> ||
        <a href="tables.html">Tables</a> ||
        <a href="forms.html">Forms</a> ||
        <a href="website_evaluations.html">Website Evaluation</a> ||
        <a href="brand_mango_penguin.html">Brand</a> ||
        <a href="stuff/webpageinstuff/yeetひ.htm">CRAP</a> ||
        <a href="polygon.html">Polygon</a> ||
        <a href="calculator_attempt.html">Calculator Attempt</a> ||
        <a href="calculator.html">Calculator</a> ||
        <a href="exercise/pipkin-activity_accessibility.html">Accessibility</a> ||
        <a href="array.html">Array</a> ||
        <a href="project_rand.html">Project Design</a> ||
        <a href="slideshow.html">Slideshow</a> ||
        <a href="/itis3135/client_project/">Project</a> ||
        <a href="image_swap.html">Image Swap</a> ||
        <a href="http://webpages.uncc.edu/mpipkin3/">UNCC Home</a>
    </nav>
</header>